[project]
	description = Vaadin wrapper for Ace editor
[access "refs/*"]
	owner = group user/Antti Nieminen (ahn)
[access "refs/for/refs/*"]
	read = group user/Antti Nieminen (ahn)
	push = group user/Antti Nieminen (ahn)
	label-Code-Review = -2..+2 group user/Antti Nieminen (ahn)
	label-Verified = -1..+1 group user/Antti Nieminen (ahn)
	rebase = group user/Antti Nieminen (ahn)
	removeReviewer = group user/Antti Nieminen (ahn)
	submit = group user/Antti Nieminen (ahn)
[access "refs/heads/*"]
	read = group user/Antti Nieminen (ahn)
	create = group user/Antti Nieminen (ahn)
	push = +force group user/Antti Nieminen (ahn)
	pushMerge = group user/Antti Nieminen (ahn)
[access "refs/tags/*"]
	push = +force group user/Antti Nieminen (ahn)
	pushTag = group user/Antti Nieminen (ahn)
	pushSignedTag = group user/Antti Nieminen (ahn)
