
.acemarker-1 {
    position: absolute;
    z-index: 3; /* The z-index of active line marker is 2. We want to be in front of that.*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.acemarker-1.ERROR {
    border-bottom: 2px red dotted;
}

.acemarker-1.NOTE {
    background: yellow;
    border-bottom: 1px solid orange;
}

.acemarker-1.SEARCH {
    background: yellow;
}

.acemarker-1.LOCK {
    background: gray;
    opacity: .5;
}

.acemarker-1.MYLOCK {
    background: gray;
    opacity: .2;
}

.acemarker-1.COMMENT {
  background: orange;
  opacity: .4;
}

